@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.detail-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 60px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  font-family: 'Poppins', sans-serif;
  position: relative;
  z-index: 1;
  overflow-y: auto; 
  max-height: 80vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.list-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  flex: 1;
}

.icons {
  display: flex;
  align-items: center;
}

.edit-icon, .user-icon {
  cursor: pointer;
  color: #0b6f5f;
  margin-left: 10px;
}

.edit-icon:hover, .user-icon:hover {
  color: #ff9800;
}

.add-item, .add-member {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.add-item input, .add-member input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.add-icon {
  cursor: pointer;
  color: #0b6f5f;
}

.add-icon:hover {
  color: #ff9800;
}

.item-list, .member-list {
  list-style-type: none;
  padding: 0;
  margin-top: 20px; 
}

.item, .member {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.custom-checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  position: relative;
  margin-right: 10px;
}

.custom-checkbox:checked {
  background-color: #ff9800;
  border-color: #ff9800;
}

.custom-checkbox:checked::after {
  content: '✔';
  color: white;
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.remove-icon {
  cursor: pointer;
  color: #dc3545;
  margin-left: auto;
}

.remove-icon:hover {
  color: hsl(0, 0%, 0%);
}

.show-checked-button {
  color: #ff7700;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrow-icon {
  margin-left: 10px;
}

.modal-content {
  border-radius: 8px;
  background-color: #f9f9f9;
  padding: 20px;
  z-index: 1000;
}

.modal-header, .modal-footer {
  border: none;
}

.modal-title {
  font-size: 24px;
  font-weight: bold;
}

.modal-body {
  padding: 20px;
}

.modal-footer .btn {
  margin-left: 10px;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .list-name {
    margin-bottom: 10px; 
  }

  .icons {
    margin-top: 10px;
  }
}
