@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.list-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.add-list {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;

}

.add-list-button {
  background-color: #0b6d5d8a;
  color: #0b6d5c;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.add-list-button .add-icon {
  margin-right: 10px;
}

.section-title {
  font-size: 24px;
  color: #0b6d5c;
  font-family: 'Poppins', sans-serif;
  margin: 25px 0;
  text-align: left;
}

.lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-bottom: 40px;
}

.list-tile {
  border: 1px solid #ccc;
  padding: 25px;
  width: 300px;
  border-radius: 10px;
  background-color: #30877686;
  color: #0b6d5c;
  font-family: 'Poppins', sans-serif;
  position: relative;
  text-align: left;
}

.list-tile.archived {
  background-color: #ffa60068;
}

.list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-name {
  font-size: 18px;
  margin-bottom: 10px;
  color: #0b6d5c;
}

.list-name.archived-name {
  color: #ff7700d2;
}

.list-items {
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 10px;
}

.list-items.archived {
  list-style-type: none;
}

.list-items li {
  margin-bottom: 5px;
}

.archived-item {
  color: #ff7700d2;
}

.icons {
  display: flex;
  gap: 10px;
}

.remove-icon, .archive-icon {
  cursor: pointer;
}

.show-archived-button {
  margin: 20px 0;
  padding: 10px 20px;
  color: #ff7700;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
}

.arrow-icon {
  margin-left: 5px;
}

.check-icon {
  color: #ff7700;
  margin-right: 5px;
}

.view-detail {
  font-size: 12px;
  color: #0b6d5c;
  cursor: pointer;
  text-align: right;
}

.modal-content {
  font-family: 'Poppins', sans-serif;
}
