@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.list-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Add list section styling */
.add-list {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

/* Add list button styling */
.add-list-button {
  background-color: #0b6d5d8a;
  color: #0b6d5c;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.add-list-button .add-icon {
  margin-right: 10px;
}

/* Section title styling */
.section-title {
  font-size: 24px;
  color: #0b6d5c;
  font-family: 'Poppins', sans-serif;
  margin: 25px 0;
  text-align: left;
}

/* Lists container styling */
.lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-bottom: 40px;
}

/* List tile styling */
.list-tile {
  border: 1px solid #ccc;
  padding: 25px;
  width: 300px;
  border-radius: 10px;
  background-color: #30877686;
  color: #0b6d5c;
  font-family: 'Poppins', sans-serif;
  position: relative;
  text-align: left;
}

.list-tile.archived {
  background-color: #ffa60068;
}

/* List header styling */
.list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* List name styling */
.list-name {
  font-size: 18px;
  margin-bottom: 10px;
  color: #0b6d5c;
}

.list-name.archived-name {
  color: #ff7700d2;
}

/* List items styling */
.list-items {
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 10px;
}

.list-items.archived {
  list-style-type: none;
}

.list-items li {
  margin-bottom: 5px;
}

.archived-item {
  color: #ff7700d2;
}

/* Icons styling */
.icons {
  display: flex;
  gap: 10px;
}

.remove-icon, .archive-icon {
  cursor: pointer;
}

/* Show archived button styling */
.show-archived-button {
  margin: 20px 0;
  padding: 10px 20px;
  color: #ff7700;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
}

.arrow-icon {
  margin-left: 5px;
}

.check-icon {
  color: #ff7700;
  margin-right: 5px;
}

/* View detail link styling */
.view-detail {
  font-size: 12px;
  color: #0b6d5c;
  cursor: pointer;
  text-align: right;
}

/* Modal content styling */
.modal-content {
  font-family: 'Poppins', sans-serif;
}

/* Dark mode styles */
.app-container.dark .list-container {
  background-color: #333333;
  color: #ffffff;
}

.app-container.dark .add-list-button {
  background-color: #444444;
  color: #ffffffae;
}

.app-container.dark .add-list-button:hover {
  background-color: #222222;
}

.app-container.dark .section-title {
  color: #ffffff;
}

.app-container.dark .list-tile {
  background-color: #444444;
  border-color: #555555;
}

.app-container.dark .list-tile.archived {
  background-color: #555555;
}

.app-container.dark .list-name {
  color: #ffffff;
}

.app-container.dark .list-name.archived-name {
  color: #ffd3add2;
}

.app-container.dark .icons .remove-icon {
  color: #ff0000;
}

.app-container.dark .icons .remove-icon:hover {
  color: #970000;
}

.app-container.dark .icons .archive-icon {
  color: #cccccc;
}

.app-container.dark .icons .archive-icon:hover {
  color: #ffffff;
}

.app-container.dark .view-detail {
  color: #cccccc;
}

.app-container.dark .view-detail:hover {
  color: #ffffff;
}

.app-container.dark .show-archived-button {
  background-color: #444444;
  color: #ffffff;
}

.app-container.dark .show-archived-button:hover {
  background-color: #222222;
}

.app-container.dark .arrow-icon {
  color: #ffffff;
}
